.App {
  text-align: center;
  font-family: Verdana;
}

.map{
  height: 100vh;
}
.leaflet-container {
  width: 100%;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.leaflet-container {
  position: absolute;
  top: 65px;
  height: calc(100% - 65px);
}

.navbar {
  background-color: #e9f0f4!important;
  padding: 0px;
  align-items: unset;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 65px;
}

.button-logo {
  margin: 0;
  padding: 12px;
  border: none;
  background: none;
}

.button-logo:hover{
  background-color: #d1e1e9;
}

.button-logo:focus{
  background-color: #d1e1e9;
}


.listlogo {
  height: auto;
  width: 45px;
}
.navbar-pag {
  border-left: 3px solid #d1e1e9;
  border-right: 3px solid #d1e1e9;
  padding-left: 20px;
  padding-right: 20px;
  color: #526f7f;
  line-height: 25px;
  width: 300px;

}

.sidebar-div {
  z-index: 500;
  position: absolute;
  height: calc(100% - 65px);
  top: 65px;
  width: 368px;
  transition: all 1s;
  background-color: #e9f0f4cc;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1, p {
  font-family: Lato;
}

.sidebar-nav-menu-item{
   display:block;
}
.sidebar-nav-menu-item-body{
  /*This is equivalent to display: none*/
  overflow: hidden; 
  height: 0; 
  opacity: 0;
  transition: height 0ms 400ms, opacity 400ms 0ms;
  padding-left: 35px;
}
.sidebar-nav-menu-item.item-active .sidebar-nav-menu-item-body{
  /*This is equivalent to display: block*/
  height: auto; 
  opacity: 1;
  transition: height 0ms 0ms, opacity 600ms 0ms;
}

.sidebar-nav-menu-item-head-help{
  /*To move button in header to right*/
  position: absolute;
  right: 35px;
}

.sidebar-nav-menu-item-head{
  /*To style header*/
  background-color: #e9f0f4;
  color: #526f7f;
  padding: 20px;
  border-top: 2px solid #d1e1e9;
  position: relative;
  font-size: 16px;
  cursor: pointer;
}

.sidebar-nav-menu-item-head:hover {
  color: #1d292f;
  font-weight: 600;
}

.item-active .sidebar-nav-menu-item-head {
  color: #1d292f;
  font-weight: 600;
  background-color: #d1e1e9;
  border-top-color: #a1adb3;
}

.item-active {
  background-color: #dae4e9;
}

input[type=checkbox] {
  margin-right: 10px;
}

.leaflet-left{
  position: absolute;
  top: unset!important;
  left: unset!important;
  right: 0px!important;
  bottom: 20px!important;
}

.span_icon {
  margin-right: 15px;
  
}
.head-sidebarcontent{
  cursor: pointer;
}

.body-sidebarcontent{
  display: none;
  margin-left: 10px;
}

.item-display {
  display: block;
}
label {
  cursor: pointer;
}

.buttonabsolute {
  position: absolute;
  z-index: 9999;
  bottom: 100px;
}

div .buttonabsolute:last-child {
  left: 100px;
}