@import url('https://fonts.googleapis.com/css2?family=Quicksand');


body {
  font-family: 'Quicksand';
}
.App {
  text-align: center;
}

.map{
  height: 100vh;
}
.leaflet-container {
  width: 100%;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.leaflet-container {
  position: absolute;
  top: 65px;
  height: calc(100% - 65px);
}

.navbar {
  background-color: #e9f0f4!important;
  padding: 0px;
  align-items: unset;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 65px;
  z-index: 450;
  box-shadow: 4px 4px 6px 0px #00000061;
}

button:focus {
  outline: unset!important;
}

.button-logo {
  margin: 0;
  padding: 12px;
  border: none;
  background: none;
}

.button-logo:hover{
  background-color: #d1e1e9;
}

.button-logo:focus{
  background-color: #d1e1e9;
}


.listlogo {
  height: auto;
  width: 45px;
}
.navbar-pag {
  border-left: 3px solid #d1e1e9;
  border-right: 3px solid #d1e1e9;
  padding-left: 20px;
  color: #526f7f;
  line-height: 28px;
  width: 300px;

}

.sidebar-div {
  z-index: 500;
  position: fixed;
  height: calc(100% - 65px);
  top: 65px;
  width: 368px;
  transition: all 1s;
  background-color: #e9f0f4cc;
  box-shadow: 4px 4px 6px 0px #00000061;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1, p {
  font-family: 'Quicksand';
}

.sidebar-nav-menu-item{
   display:block;
}
.sidebar-nav-menu-item-body{
  /*This is equivalent to display: none*/
  overflow: hidden; 
  height: 0; 
  opacity: 0;
  transition: height 0ms 400ms, opacity 400ms 0ms;
  padding-left: 20px;
}
.sidebar-nav-menu-item.item-active .sidebar-nav-menu-item-body{
  /*This is equivalent to display: block*/
  height: auto; 
  opacity: 1;
  transition: height 0ms 0ms, opacity 600ms 0ms;
}

.sidebar-nav-menu-item-head-help{
  /*To move button in header to right*/
  position: absolute;
  right: 35px;
}

.sidebar-nav-menu-item-head{
  /*To style header*/
  background-color: #e9f0f4;
  color: #526f7f;
  padding: 20px;
  border-top: 2px solid #d1e1e9;
  position: relative;
  font-size: 16px;
  /*cursor: pointer;*/
}

.sidebar-nav-menu-item-head:hover {
  color: #1d292f;
  font-weight: 600;
}

.item-active .sidebar-nav-menu-item-head {
  color: #1d292f;
  font-weight: 600;
  background-color: #d1e1e9;
  border-top-color: #a1adb3;
  display: flex;
  flex-wrap: nowrap;
  justify-content: normal;
}

.item-active {
  background-color: #dae4e97a;
}

input[type=checkbox] {
  margin-right: 10px;
}

.leaflet-left{
  position: absolute;
  top: unset!important;
  left: unset!important;
  right: 0px!important;
  bottom: 20px!important;
}

.span_icon {
  margin-right: 15px;
  margin-left: 5px;
  cursor: pointer;
}
.sidebar-nav-menu-item-head-title {
  cursor: pointer;
  flex-basis: 90%;
}

.head-sidebarcontent{
  cursor: pointer;
}

.head-sidebarcontent:hover{
  font-weight: 600;
}

.body-sidebarcontent{
  display: none;
  margin-left: 20px;
}

#icon_slide {
  position: absolute;
  z-index: 500;
  top: calc(100% - 50vh);
  line-height: 50px;
  height: 50px;
  background-color: #2e6ca433;
  box-shadow: 6px -1px 6px 0px #00000061;
  right: -15px;
  border-left: unset;
  cursor: pointer;
}

#icon_slide:hover {
  background-color: #ffffffcc;
}

.item-display {
  display: block;
}

form:hover{
  font-weight: 600;
}

label {
  cursor: pointer;
}

.buttonabsolute {
  position: absolute;
  z-index: 9999;
  bottom: 100px;
}

div .buttonabsolute:last-child {
  left: 100px;
}

.leaflet-tooltip-right:before {
  border: none;
  background: none;
}

.leaflet-tooltip {
  border: none;
  /*background: unset;*/
  background: rgba(255, 255, 255, 0.589);
  padding: 2px;
  box-shadow: none;
  font-weight: 700;
}

.leaflet-tooltip-right {
  margin-left: 10px;
}

.left-sidebar {
  width: 0%;
}

.nav-display {
  opacity: 0;
}


/* Customize the Clustered Markers */
.marker-cluster-custom-1 {
  background: #1f78b4;
  border: 3px solid #ffffff81;
  border-radius: 50%;
  color: white;
  height: 40px;
  line-height: 37px;
  text-align: center;
  width: 40px;
}

.marker-cluster-custom-2 {
  background: #e84c54;
  border: 3px solid #c4091280;
  border-radius: 50%;
  color: white;
  height: 40px;
  line-height: 37px;
  text-align: center;
  width: 40px;
}
.marker-cluster-custom-3 {
  background: #18af18;
  border: 3px solid rgba(90, 90, 90, 0.397);
  border-radius: 50%;
  color: white;
  height: 40px;
  line-height: 37px;
  text-align: center;
  width: 40px;
}

.marker-cluster-custom-4 {
  background: #d53fc9;
  border: 3px solid rgba(90, 90, 90, 0.397);
  border-radius: 50%;
  color: white;
  height: 40px;
  line-height: 37px;
  text-align: center;
  width: 40px;
}

.marker-cluster-custom-5 {
  background: rgb(32, 32, 32);
  border: 3px solid rgba(201, 198, 198, 0.397);
  border-radius: 50%;
  color: white;
  height: 40px;
  line-height: 37px;
  text-align: center;
  width: 40px;
}
.marker-cluster-custom-6 {
  background: #32c7c5;
  border: 3px solid rgba(90, 90, 90, 0.397);
  border-radius: 50%;
  color: white;
  height: 40px;
  line-height: 37px;
  text-align: center;
  width: 40px;
}

.marker-cluster-custom-7 {
  background: #f5ee30;
  border: 3px solid rgba(90, 90, 90, 0.397);
  border-radius: 50%;
  color: black;
  height: 40px;
  line-height: 37px;
  text-align: center;
  width: 40px;
}

:checked + span {
  font-weight: bold;
}
/*
BASELAYERI
*/
.baselayers {
  display: flex;
  flex-basis: 100%;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}

.mapBaseLayers{
  border: unset;
  background-color: unset;
  color: #2e6ca4;
  cursor: pointer;
  flex-basis: 33%;
  width: 3vw;
  height: 65px;
}
.mapBaseLayers:hover {
  background-color: #d1e1e9;
}

.mapBaseLayers svg {
  width: 48px!important;
  height: 28px!important;
}

.radiobutton span {
  margin-left: 5px;
}
/*input[type="checkbox"] { 
  filter: invert(100%) hue-rotate(18deg) brightness(1.7);
}*/

/*
PANEL
*/
.mypanel {
  position: absolute;
  top: 65px;
  right: 145px;
  box-shadow: 0px 0px 9px 2px #00000061;
}

/*
LEAFLET LAYERS CONTROL
*/

/*.leaflet-control-layers {
  display: none;
}*/

.paglogo a img {
  height: 38px!important;
}

.panelMap {
  display: none;
}

.ikona_tablica {
  font-size: 15px;
}

.tablica_button {
  background: unset;
  border: unset;
}

.tablica_button:hover {
  font-weight: 800;
  color: white;
  border-radius: 5px;
  background-color: #1d292f;
}

/*
MODAL
*/
.modal-body {
  padding: 0px;
}
.modal-dialog {
  max-width: 100%!important;
  width: 97%!important;
  position: fixed;
  bottom: 0px;
  right: 2px;
  left: 2px;
  margin-bottom: 4px;
}

.modal-backdrop.show {
  opacity: unset;
}
.modal-backdrop {
  background-color: unset;
  height: unset;
}
.modal-open .modal {
  height: unset!important;
}

.modal-information .modal-dialog{
  width: 500px;
}

.modal-content {
  height: 35vh;
  overflow: hidden;
}

/*.modal {
  position: fixed;
  top: 60vh;
  left: 2vw;
}*/

/*.modal-footer {
  padding: 0px;
}*/

.modal-title {
  line-height: unset;
  font-size: 16px;
}

.modal-header {
  padding: 7px;
}

/*POPUP NERAZ CESTE*/

.popup-span {
  color: #2e6ca4;
  font-weight: 600;
  line-break: anywhere;
}

.popup-p {
  font-weight: 600;
}

/*
Datatable
*/

.table-down {
  width: 40px;
  background-color: #e9f0f4;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
  border: 1px solid #637e8d;
}

.table-down:hover {
  background-color: #637e8d;
}

.buton-datatable {
  font-weight: 700;
  background-color: #d1e1e9;
  color: #526f7f;
  border: 1.5px solid #526f7f;
  border-radius: 5px;
  cursor: pointer;
  height: 32px;
  line-height: 16px;
  margin-right: 2px;
}

.buton-datatable:hover {
  background-color: #2e6ca4;
  color: #d1e1e9;
}

.buton-datatable:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: unset;
}

.button-div-datatable {
  width: 100%;
  padding-top: 5px;
  flex-basis: 100%;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 10px;
  bottom: 0;
  background: white;
  font-size: 14px;
}

.forma-datatable:hover label {
  font-weight: 500;
  cursor: unset;
}

.forma-datatable input {
  width: 50px;
}

.forma-datatable label {
  margin-left: 5px;
  margin-right: 5px;
}

.my-datatable {
  width: 100%;
  margin: 10px;
  height: 26vh;
}

.my-datatable thead {
  color: #526f7f;
  border-bottom: 2px solid #526f7f3d;
}

.my-datatable thead th { 
  width: fit-content;
  position: sticky;
  top: 0;
  background: white;
  font-size: 15px;
}
.my-datatable th:hover {
  cursor: pointer;
  color: black;
}

.my-datatable tr, .my-datatable td {
  padding: 5px;
  cursor: pointer;
}
.my-datatable tr:hover {
  background-color: #526f7f3d;
}

.my-datatable thead tr:first-child {
  background-color: unset;
  cursor: unset;
}

.my-datatable tr{
  border-bottom: 1px solid #526f7f3d;
}

.my-datatable tr:last-child {
  border: none;
}

.my-datatable tr td {
  width: 10%;
  margin-left: 2px;
  margin-right: 2px;
  padding: 0px!important;
}

.my-datatable tr td:nth-child(2) {
  width: 30%;
}

.eki tr td {
  width: 7%;
}

.eki tr td:nth-child(2) {
  width: 6%;
}
.eki tr td:nth-child(3), .eki tr td:nth-child(6), .eki tr td:nth-child(7), .eki tr td:nth-child(8) {
  width: 15%;
}
.a-datatable {
  margin-right: 5px;
}

.div-eki {
  max-height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 26vh;
}

.eki tbody {
  font-size: 14px;
}

/*
PKUS
*/

.modal-content {
  transition: all 1s;
}

.modal-dialog-hide {
  height: 5vh;
    /* top: 0px; */
   /* position: fixed;
    bottom: 2px;
    right: 0px;
*/}